<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
  <title>View Lab Procedures</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
  <div th:fragment="content">


    <script th:inline="javascript">
      /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
      /*<![CDATA[*/
      var app = angular.module("labProceduresApp", []);
      app.controller('labProceduresCtrl', function ($scope, $http) {
        $scope.labProcedures = [];
        $scope.pattern = /^\d{4}-\d{4}-\d{2}$/;
        $scope.loadTable = function () {
          $http.get("/iTrust2/api/v1/labProcedures").then(
            function (response) {
              $scope.labProcedures = response.data;
              $scope.message = "";
            }, function (rejection) {
              $scope.labProcedures = [];
              $scope.message = "Could not display Lab Procedures";
            });
        }
        $scope.loadTable();
      });
			/*]]>*/
    </script>

    <div ng-app="labProceduresApp" ng-controller="labProceduresCtrl">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3>Patient View Lab Procedures</h3>
              </div>
              <div class="panel-body">
                <table class="table table-bordered">
                  <caption>My Lab Procedures:</caption>
                  <thead>
                    <tr>
                      <th>Code</th>
                      <th>Priority</th>
                      <th>labTech</th>
                  <!--    <th>HCP</th> -->  
                      <th>Status</th>
                      <th>Comments</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr name="labProcedureTableRow" ng-repeat="lp in labProcedures" labProceduesId={{l.id}}>
                      <td name="codeCell">{{lp.code.code}}</td>
                      <td name="priorityCell">{{lp.priority}}</td>
                      <td name="labtechCell">{{lp.labtech.username}}</td>
               <!--       <td name="hcpCell">{{lp.hcp.username}}</td> -->  
                      <td name="hcpCell">{{lp.status}}</td>
					  <td name="commentsCell">{{lp.comments}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>