<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{})">
  <title>Edit Personal Representatives</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
  <div th:fragment="content">


    <script th:inline="javascript">
      /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
      /*<![CDATA[*/
      var app = angular.module("representativesApp", []);
      app.controller('representativesCtrl', function ($scope, $http) {
        $scope.representatives = [];
        $scope.selected = "";
        $scope.loadTable1 = function () {
          $http.get("/iTrust2/api/v1/patient/representatives").then(
            function (response) {
              $scope.representatives = response.data;
              $scope.message = "";
            }, function (rejection) {
              $scope.representatives = [];
              $scope.message = "Could not display representatives";
            });
        };
        
        $scope.loadTable2 = function() {
        	  $http.get("/iTrust2/api/v1/patient/represented").then(
        	    function (response) {
        	      $scope.represented = response.data;
        	      $scope.message = "";
        	    }, function (rejection) {
        	      $scope.representatives = [];
        	      $scope.message = "Could not display representatives";
        	    });
        	};
        
        $scope.addRepresentative = function () {
          $http.put("/iTrust2/api/v1/patient/" + $scope.selected + "/addrepresentative").then(
            function (response) {
              $scope.loadTable1();
              $scope.representative.name = ""
              $scope.mid = ""
            }, function (rejection) {
              $scope.message = "Could not add representative";
            });

        };
        
        $scope.deleteRepresentative = function (representative) {
         	$http.delete('/iTrust2/api/v1/patient/' + representative.mid).then(
    	            function (response) {
    	            	  $scope.loadTable1();
    	              $scope.message = "";
    	            }, function (rejection) {
    	              $scope.message = "Could not remove representative";
    	            });  
       /*  	var msg = "Are you sure you want to remove representative" + representative.mid "?";
         if (confirm(msg)) {
	          
          }; */
        };

        $http.get("/iTrust2/api/v1/patients").then(
          function (response) {
            $scope.patients = response.data;
            loadTable1();
            loadTable2();
          });

        // gets the template to ng-include for a table row / item
        $scope.selectedRepresentative = {};

        $scope.getTemplate = function (representative) {
          if (representative.id === $scope.selectedRepresentative.mid) return 'edit';
          else return 'view';
        };

        $scope.resetSelected = function () {
          $scope.selectedRepresentative = {};
        };

        $scope.deleteRepresented = function (representative) {
           
  	          $http.delete('/iTrust2/api/v1/patient/' + representative.mid + '/removerepresented').then(
  	            function (response) {
  	              $scope.loadTable2();
  	              $scope.message = "";
  	            }, function (rejection) {
  	              $scope.message = "Could not remove representative";
  	            });
  	        /* var msg = "Are you sure you want to remove representative" + representative.mid "?";
            if (confirm(msg)) {
            	
            }; */
          } 
      });
			/*]]>*/
    </script>
        
    <div ng-app="representativesApp" ng-controller="representativesCtrl">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3>Your Personal Representatives</h3>
              </div>
              <div class="panel-body">
                <table class="table table-bordered">
                  <caption>Personal Representatives:</caption>
                  <thead>
                    <tr>
                      <th>MID</th>
                      <th>Name</th>
                      <th>Date Added</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr name="representativeTableRow" ng-repeat="r in representatives" ng-include="getTemplate(r)" representativeId={{r.id}}>
                    </tr>
                  </tbody>
                </table>

                <!-- table in view mode -->
                <script type="text/ng-template" id="view">
                  <td name="midCell">{{r.mid}}</td>
                  <td name="nameCell">{{r.name}}</td>
                  <td name="dateCell">{{r.date}}</td>
                  <td>
                    <div class="row text-center">
                      <div class="col-md-6">
                          <input type="button" value="Delete Representative" class="btn btn-danger" name="deleteRepresentative" ng-click="deleteRepresentative(r)" />                          
                      </div>
                    </div>                  
                  </td>
                </script>
                <label>{{message}}</label>
                <label>{{selected}}</label>

                <br>
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading ">Add a Representative</div>
                      <div class="panel-body">
                        <form class="form-horizontal" role="form" name="addRepresentativeForm" ng-submit="addRepresentative(addRepresentativeForm.$valid)">
                          <div class="row">
                          <label>Patient:</label>
                                <ul style="max-height:15%;overflow:auto;list-style: none;">
                                  <select ng-model="selected">
                                  	<option ng-repeat="patient in patients" value="{{patient.self.username}}"> {{patient.self.username}}
                                     </option>
                                  </select>

                            <!-- patient -->
                            <div class="col-md-5 radio-box">
                              <div class="form-check">
                                
                                  <!-- <li ng-repeat="patient in patients">
                                    <label>
                                    not sure what to do here; was 'parent.prescription.patient'
                                      <input type="radio" ng-model="selected" name="name" value="{{patient.self.username}}" required="true"
                                      />&nbsp; {{patient.self.username}}
                                    </label>
                                  </li> -->
                                </ul>
                              </div>
                            </div>

                          </div>
                          <br>
                          <div class="row">
                          </div>
                          <br>
                          <br>
                          <div class="row">
                            <div class="col-md-12 text-center">
                              <button ng-click="addRepresentative(selected)" type="submit" class="btn btn-success" name="submit">Add Representative</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3>Who You Represent</h3>
              </div>
              <div class="panel-body">
                <table class="table table-bordered">
                  <caption>Who you Represent:</caption>
                  <thead>
                    <tr>
                      <th>MID</th>
                      <th>Name</th>
                      <th>Date Added</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr name="representativeTableRow" ng-repeat="r in represented" ng-include="getTemplate(r)" representativeId={{r.id}}>
                    </tr>
                  </tbody>
                </table>

                <!-- table in view mode -->
                <script type="text/ng-template" id="view">
                  <td name="midCell">{{r.mid}}</td>
                  <td name="nameCell">{{r.name}}</td>
                  <td name="dateCell">{{r.date}}</td>
                  <td>
                    <div class="row text-center">
                      <div class="col-md-6">
                          <input type="button" value="Remove Me as a Representative" class="btn btn-danger" name="deleteRepresentative" ng-click="deleteRepresented(r)" />                          
                      </div>
                    </div>                  
                  </td>
                </script>

                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
    
</body>

</html>
