<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
  <title>View Lab Procedure</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
  <div th:fragment="content">
  <script th:inline="javascript">
      /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
      /*<![CDATA[*/
      var app = angular.module("viewLabProcedureApp", []);
      app.controller('labProcedureCtrl', function ($scope, $http) {
        $scope.procedures = [];
        $scope.selected = "";
        $scope.selectedStatus = "";
        $scope.allStatus = ["NEW", "IN_PROGRESS", "COMPLETE"];
        $scope.allLabtech = [];

        $http.get("/iTrust2/api/v1/labtech/labprocedures/").then(
          function (response) {
            $scope.procedures = response.data;
            $scope.message = "";
          }, function (rejection) {
            $scope.procedures = [];
            $scope.message = "Could not display lab procedures";
          });

        $http.get("/iTrust2/api/v1/labtechs").then(
        		function (response) {
               $scope.allLabtech = response.data;
               $scope.message = "";
            }, function (rejection) {
               $scope.procedures = [];
               $scope.message = "Could not display lab procedures";
            });
        // gets the template to ng-include for a table row / item
        $scope.selectedProcedures = {};

        $scope.resetSelected = function () {
          $scope.selectedProcedures = {};
        };

        
      });
			/*]]>*/
    </script>
		<div ng-app="viewLabProcedureApp" ng-controller="labProcedureCtrl">
        	  <div class="container">
       		 <div class="row">
          		<div class="col-md-12">
         		  <div class="panel panel-primary">
            		  <div class="panel-heading">
            		    <h3>View Lab Procedures</h3>
           		  	  </div>
              	  	  <div class="panel-body">
                		<table class="table table-bordered">
                		  <caption>Lab Procedure Assigned to me</caption>
                		  <thead>
                    		<tr>
                    		  <th>Priority</th>
                    		  <th>LOINC Code</th>
                    		  <th>Office Visit</th>
                    		  <th>HCP</th>
                    		  <th>Status</th>
                    		  <th>Lab Tech</th>
                    		  <th>Comments</th>
                    	    </tr>
                   		    <tr  ng-repeat="l in procedures">
                    		  <td>{{l.priority}}</td>
                    		  <td>{{l.code.code}}</td>
                    		  <td>{{l.patient.username}}'s {{l.officevisit.type}} on {{l.officevisit.date}}</td>
                    		  <td>{{l.hcp.username}}</td>
                    		  <td>
                    		  	<select ng-model="l.status" id="stat">
                               <option ng-repeat="status in allStatus" value="{{status}}"> {{status}}
                               </option>
                             </select>
                    		  </td>
                    		  <td>{{l.labtech.username}}
                    		    <select ng-model="l.labtech.username" id="stat">
                               <option ng-repeat="lb in allLabtech" value="{{lb.username}}"> {{lb.username}}
                               </option>
                             </select>
                    		  </td>
                    		  <td>{{l.notes}}</td>
                        	  <!-- <td>
                        	  	 <div class=" text-center">
                        	  	  <div class="col-md-6">
                        		    <input type="button" value="Edit" class="btn btn-danger" name="editLabProcedureCodes" ng-click="editLabProcedureCodes(l.code)" />
                        		  
                        		    <input type="button" value="Delete" class="btn btn-danger" name="deleteLabProcedureCodes" ng-click="deleteLabProcedureCodes(l.code)" />
                        		  </div>
                        	  </div>
                      		 </td> -->
                    		</tr>
                  		</thead>
                  
                	   </table>

                 		<!-- table in view mode -->
                		<label>{{message}}</label>
               			 <label>{{selected}}</label>
              		</div>
            </div>
          </div>
        
        </div>
      </div>
		
		</div>
		

	</div>
</body>
</html>