<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
  <title>View Lab Procedure</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
  <div th:fragment="content">
  <script th:inline="javascript">
      /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
      /*<![CDATA[*/
      var app = angular.module("viewLabProcedureApp", []);
      app.controller('labProcedureCtrl', function ($scope, $http) {
        $scope.procedures = [];
        $scope.selected = "";
        $scope.selectedStatus = "";
        $scope.allStatus = ["NEW", "IN_PROGRESS", "COMPLETE"];
        $scope.allLabtech = [];

        $http.get("/iTrust2/api/v1/labtech/labprocedures/").then(
          function (response) {
            $scope.procedures = response.data;
            $scope.message = "";
          }, function (rejection) {
            $scope.procedures = [];
            $scope.message = "Could not display lab procedures";
          });

        $http.get("/iTrust2/api/v1/labtechs").then(
        		function (response) {
               $scope.allLabtech = response.data;
               $scope.message = "";
            }, function (rejection) {
               $scope.allLabtech = [];
               $scope.message = "Could not display lab techs";
            });
        // gets the template to ng-include for a table row / item
        $scope.selectedProcedures = "";

        $scope.selectProcedures = function(lab){
        		$scope.selectedProcedure = lab;
        }
        $scope.resetSelected = function () {
          $scope.selectedProcedures = {};
        };

        
      });
			/*]]>*/
    </script>
		<div ng-app="viewLabProcedureApp" ng-controller="labProcedureCtrl">
        	  <div class="container">
       		 <div class="row">
          		<div class="col-md-12">
         		  <div class="panel panel-primary">
            		  <div class="panel-heading">
            		    <h3>View Lab Procedures</h3>
           		  	  </div>
              	  	  <div class="panel-body">
                		<table class="table table-bordered">
                		  <caption>Lab Procedure Assigned to me</caption>
                		  <thead>
                    		<tr>
                    		  <th>Priority</th>
                    		  <th>LOINC Code</th>
                    		  <th>Office Visit</th>
                    		  <th>HCP</th>
                    		  <th>Status</th>
                    		  <th>Lab Tech</th>
                    		  <th>Comments</th>
                    	    </tr>
                   		<tr  ng-repeat="l in procedures">
                    		  <td><input type="radio" 
									name="labProcedureToEdit" value="{{l}}"
									ng-click='selectProcedures(l)' />&nbsp;{{l.priority}}</td>
                    		  <td>{{l.code.code}}</td>
                    		  <td>{{l.patient.username}}'s {{l.officevisit.type}} on {{l.officevisit.date}}</td>
                    		  <td>{{l.hcp.username}}</td>
                    		  <td> {{l.status}}</td>
                    		  <td>{{l.labtech.username}}</td>
                    		  <td>{{l.notes}}</td>
                    		</tr>
                  		</thead>
                	   </table>

                 		<!-- table in view mode -->
                		<label>{{message}}</label>
               		<label>{{selected}}</label>
              	</div>
            </div>
          </div>
        
        </div>
      </div>
		<div class="container">
       		 <div class="row">
          		<div class="col-md-12">
         		  <div class="panel panel-primary">
            		  <div class="panel-heading">
            		    <h3>Edit Lab Procedures</h3>
           		  </div>
              	  <div class="panel-body">
					<table>
                            <div class="col-md-5 radio-box">
                              <table class="table table-bordered">
                                <caption>Selected Lab Procedure: {{selectedProcedure.labtech.username}}</caption>
                                <thead>
                    				  <tr>
                      				<th>Status</th>
                      				<th>Lab Tech</th>
                   				  </tr>
                  			   </thead>
                  			   <tbody>
                    				 <tr>
                    				 	<td>
                    				 	  <select ng-model="selectedProcedure.status" id="stat">
                              	 		<option ng-repeat="status in allStatus" value="{{status}}"> {{status}}
                               			</option>
                             		  </select>
                    				 	</td>
                      				<td>
                      				  <select ng-model="selectedProcedure.labtech.username" id="lt">
                               		  	<option ng-repeat="lb in allLabtech" value="{{lb}}"> {{lb.username}}
                               		  	</option>
                             		  </select>
                             		</td>
                    				 </tr>
                 			   </tbody>
                				 </table>
                				 
                              
                              <button ng-click="addRepresentative()" type="submit" class="btn btn-success" name="submit">Update</button>
                            </div>
				</table>
				<br />
                		<label>{{message}}</label>
               			 <label>{{selected}}</label>
              </div>
            </div>
          </div>
        
        </div>
      </div>
		</div>
		

	</div>
</body>
</html>