<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
  <title>View Lab Procedure</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
  <div th:fragment="content">
  <script th:inline="javascript">
      /* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
      /*<![CDATA[*/
      var app = angular.module("viewLabProcedureApp", []);
      app.controller('labProcedureCtrl', function ($scope, $http) {
        $scope.procedures = [];
        $scope.selected = "";
        
        

        $http.get("/iTrust2/api/v1/labprocedures").then(
          function (response) {
            $scope.procedures = response.data;
            $scope.message = "";
          }, function (rejection) {
            $scope.procedures = [];
            $scope.message = "Could not display lab procedures";
          });

        // gets the template to ng-include for a table row / item
        $scope.selectedProcedures = {};

        $scope.resetSelected = function () {
          $scope.selectedProcedures = {};
        };

        
      });
			/*]]>*/
    </script>
		<div ng-app="viewLabProcedureApp" ng-controller="labProcedureCtrl">
                  <!-- <caption>Personal Representatives:</caption>
                  <thead>
                    <tr>
                      <th>MID</th>
                      <th>Name</th>
                      <th>Manage</th>
                    </tr>
                    <tr  ng-repeat="r in procedures">
                      <td>{{r.code}}</td>
                      <td>{{r.firstName}}  {{r.lastName}}</td>
                      <td>
                        <div class="row text-right">
                          <div class="col-md-6">
                            <input type="button" value="Delete" class="btn btn-danger" name="deleteRepresentative" ng-click="deleteRepresentative(r)" />
                          </div>
                        </div>
                      </td>
                    </tr>
                  </thead>
                  
                </table> -->
		
			<div ng-repeat ="p in procedures">
				<strong>Priority: {{p.priority}}</strong>
					<div th:text="p.priority" style="display: inline-block">
					</div>
					<br /> <strong>LOINC Code:</strong>
					<div th:text="p.code" style="display: inline-block"></div>
					<br /> <br /> <strong>Office Visit:</strong>
					<div th:text="p.officevisit" style="display: inline-block"></div>
					<br /> <br /> <strong>HCP:</strong>
					<div th:text="p.hcp" style="display: inline-block"></div>
					<br /> <br /> <strong>Patient:</strong>
					<div th:text="p.patient" style="display: inline-block"></div>
					<br />
				
			</div>
				<!-- <input type="radio" th:value="${appointment.id}" name="appointment">
				<div name="${appointment.name}">
					<strong>Priority:</strong>
					<div th:text="${appointment.priority}" style="display: inline-block">
					</div>
					<br /> <strong>LOINC Code:</strong>
					<div th:text="${appointment.code}" style="display: inline-block"></div>
					<br /> <br /> <strong>Office Visit:</strong>
					<div th:text="${appointment.officevisit}" style="display: inline-block"></div>
					<br /> <br /> <strong>HCP:</strong>
					<div th:text="${appointment.hcp}" style="display: inline-block"></div>
					<br /> <br /> <strong>Status:</strong>
					<div th:text="${appointment.patient}" style="display: inline-block"></div>
					<br />
				</div>
				</input>
			</div>

			<span th:if="${appointments!=null and appointments.size() != 0}">
				<select th:field="*{action}">
					<option th:each="action : ${allActions}" th:value="${action}"
						th:text="${action}"></option>
				</select> 
				<br /> <br /> <strong>Comment:</strong>
				<input type="text" th:value="${appointment.comment}"><br>
				<button type="submit" class="btn btn-default">Submit</button> -->
			<!-- </span> -->
		<!-- </form> -->
		
		</div>
		

	</div>
</body>
</html>