<
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>Document Office Visit</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">

		<script th:inline="javascript">
			/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
			/*<![CDATA[*/

			var app = angular.module('myApp', []);
			app.controller('documentOfficeVisitCtrl', function($scope, $http) {
				$scope.displayName = function(p) {
					return p.firstName + " " + p.lastName + " ("
							+ p.self.username + ")";
				}

				// documentation on Angular filters: https://docs.angularjs.org/api/ng/filter/filter
				$scope.searchFilter = "";
				$scope.filterPatients = function(patient) {
					return ($scope.displayName(patient)).toLowerCase().match(
							$scope.searchFilter.toLowerCase());
				}

				function zeroPad(number, characters) {
					var s = String(number);
					while (s.length < characters)
						s = "0" + s;
					return s;
				}

				function formatDOB(patient) {
					return zeroPad(patient.dateOfBirth.month + 1, 2) + '/'
							+ zeroPad(patient.dateOfBirth.dayOfMonth, 2) + '/'
							+ zeroPad(patient.dateOfBirth.year, 4);
				}

				function getAge(patient) {
					var birthYear = zeroPad(patient.dateOfBirth.year, 4);
					var currentYear = new Date().getFullYear();
					console.log(currentYear);
					console.log(birthYear);
					return currentYear - birthYear;
				}

				$scope.selectPatient = function(patient) {
					$scope.displayFullName = patient.firstName + " "
							+ patient.lastName;
					$scope.age = getAge(patient);
					$scope.dateOfBirth = formatDOB(patient);
					$scope.gender = patient.gender;
					$scope.bloodType = patient.bloodType;
					$scope.username = patient.self.username;
					var userid = patient.id;
					console.log(userid);

					$scope.diagnoses = [];
					$http.get(
							"/iTrust2/api/v1/patientDiagnoses/"
									+ $scope.username).then(function(response) {
						$scope.diagnoses = response.data;
						//console.log(success);
					}, function(rejection) {
						$scope.diagnoses = [];
					});
					function twoDigit(num) {
						if (num < 10) {
							return "0" + num;
						}
						return num;
					}

					// Format a date from given json
					$scope.getDate = function getDate(date) {
						/* The months start at 0... only the months.  So we have to add 1 to get the correct input.*/
						month = date.month + 1;
						return twoDigit(month) + "/"
								+ twoDigit(date.dayOfMonth) + "/" + date.year;
					}
					
					$scope.prescriptions = [];
					$http.get(
							"/iTrust2/api/v1/patientPrescriptions/"
									+ $scope.username).then(function(response) {
						$scope.prescriptions = response.data;
		
					}, function(rejection) {
						$scope.prescriptions = [];
					});

				}

				$http.get("/iTrust2/api/v1/patients").then(function(response) {
					$scope.patients = response.data;
				});

			});

			/*]]>*/
		</script>



		<div ng-app="myApp" ng-controller="documentOfficeVisitCtrl">
			<nav class="navbar navbar-default"></nav>
			<div style="float: left; width: 20%; height: 75%; overflow-y: auto">
				<h2>Patients:</h2>
				<!-- info on filtering taken from here: https://www.w3schools.com/angular/angular_filters.asp
				and https://docs.angularjs.org/api/ng/filter/filter -->
				<h4>
					Search: <input type="text" name="search" ng-model="searchFilter" />
				</h4>
				<!-- Info on scrolling taken from here: https://www.w3schools.com/cssref/pr_pos_overflow.asp -->
				<!-- and here: https://stackoverflow.com/questions/9560330/how-to-hide-a-vertical-scroll-bar-when-not-needed -->
				<ul style="overflow: auto;height=80%;">
					<!-- Information on how labels wor from here: https://stackoverflow.com/questions/7863251/clicking-the-text-to-select-corresponding-radio-button -->
					<li ng-repeat="patient in patients | filter:filterPatients"><h4>
							<label> <input type="radio"
								ng-model="$parent.selectedPatient" name="patient"
								value="{{patient.self.username}}"
								ng-click='$parent.selectPatient(patient)' />&nbsp;{{$parent.displayName(patient)}}
							</label>
						</h4></li>
				</ul>
			</div>
			<!-- information on vertical rule found here: https://stackoverflow.com/questions/571900/is-there-a-vr-vertical-rule-in-html  -->

			<div
				style="float: left; width: 80%; border-left: 1px solid #bbb; padding-left: 3%; height: 75%; overflow-y: auto">

				<table>
					<tr>
						<td style="text-align: right; padding: 5px"><b>Name:</b></td>
						<td>{{displayFullName}}</td>
					</tr>
					<tr>
						<td style="text-align: right; padding: 5px"><b>Age:</b></td>
						<td>{{age}}</td>
					</tr>
					<tr>
						<td style="text-align: right; padding: 5px"><b>Date of
								Birth:</b></td>
						<td>{{dateOfBirth}}</td>
					</tr>
					<tr>
						<td style="text-align: right; padding: 5px"><b>Gender:</b></td>
						<td>{{gender}}</td>
					</tr>
					<tr>
						<td style="text-align: right; padding: 5px"><b>Bloodtype:</b></td>
						<td>{{bloodType}}</td>
					</tr>

				</table>

				
					<h3 id="header0">View Diagnoses</h3>
				
				
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Date</th>
								<th>ICD-10 Code</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="d in diagnoses" name="diagnosis">
								<td name="date">{{getDate(d.visit.date)}}</td>
								<td name="code">{{d.code.code}}</td>
								<td name="description">{{d.code.description}}</td>
							</tr>
						</tbody>
					</table>
					<hr>
				<h3 id="header0">View Prescriptions</h3>
				<table class="table table-bordered">
						<thead>
							<tr>
								<th>Date</th>
								<th>Drug</th>
								<th>NDC Code</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="p in prescriptions" name="prescription">
								<td name="date">{{getDate(p.startDate)}}</td>
								<td name="drug">{{p.drug.name}}</td>
								<td name="ndc">{{p.drug.code}}</td>
							</tr>
						</tbody>
					</table>
			</div>
		</div>
	</div>
</body>
</html>